/*Expertise section*/

/*Start of Media Query for mobile*/
/* @media only screen and (max-width: 480px) {
  .expertise-container .expertise-grid {
    display: block;
    margin: auto;

    /* height: 1650px; 
  }

  .expertise-title-container .expertise-title,
  .grid-text {
    text-align: center;
    /* border: 1px solid red; 
  }

  .expertise-container {
   
  }

  .expertise-title-container {
    margin: auto;
    width: 100%;
  }

  .expertise-title-container .expertise-text {
    margin-bottom: 6rem;
  }

  .expertise-title-container hr {
    width: 10%;
    margin: auto;
    display: none;
  }

  section.grid-img-1,
  section.grid-img-2,
  section.grid-img-3,
  section.grid-img-4,
  section.grid-img-5,
  section.grid-img-6 {
    border-right: 0px;
    border-bottom: 0px;
    border-top: 0.5px solid #888;
    margin-top: -2rem;
  }
}

/*End of Media Query for mobile*/

/*Start of Media Query for tablet*/

/* @media only screen and (max-width: 768px) {
  .expertise-container {
    /* height: 1400px; 
    margin: 1rem 0rem 1rem 0rem;
  } 
  .expertise-container .expertise-grid {
    display: grid;
    margin: auto;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

    justify-items: center;
    align-items: center;
    border-color: #888;
    text-align: center;
  }
  .expertise-title-container .expertise-title,
  .expertise-title-container.grid-text {
    text-align: center;
  }

  .expertise-title-container {
  }

  section.grid-img-1,
  section.grid-img-3,
  section.grid-img-5 {
    border-right: 0.5px solid rgb(221, 221, 221);
    border-bottom: 0.5px solid rgb(221, 221, 221);
    height: 20.6rem;
  }

  section.grid-img-2,
  section.grid-img-4,
  section.grid-img-6 {
    border-right: none;
    border-bottom: 0.5px solid rgb(221, 221, 221);
    height: 20.6rem;
  }

  .grid-img-1,
  .grid-img-2 {
    margin-top: 3rem;
    border-right: 0.5px solid rgb(221, 221, 221);
    border-bottom: 0.5px solid rgb(221, 221, 221);
  }

  .grid-img-3 {
    border: 2px solid violet;
    margin-bottom: 3rem;
  }

  .grid-img-4,
  .grid-img-5 {
    border-right: 0.5px solid rgb(221, 221, 221);
  }

  .grid-img-6 {
    height: 18rem;
    padding: 2.2rem 1rem 0 1rem;
  }
}*/

/*End of Media Query for tablet*/

/*Start of Media Query for desktop*/

.expertise-grid {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 33.3% 33.3% 33.3%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border-color: #888;
  text-align: center;
  max-width: 1200px;
}

.expertise-title {
  color: #444;
  text-transform: uppercase;
  text-align: center;
  margin: 3rem 0 1rem 0;
  font-family: serif;
}

.expertise-text {
  color: #888;
  font-size: 13px;
  letter-spacing: 0.05rem;
  text-align: center;
  margin-bottom: 0.5rem;
  font-family: serif;
  /* padding: 2rem 2rem 2rem 2rem; */
}

.grid-heading .grid-h3 {
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #333;
  font-size: 13px;
  padding: 1rem 0rem 0 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0 2rem 0 2rem;
}

.grid-text .grid-p {
  line-height: 1.6;
  color: #aaaaaa;
  font-size: 11px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0 2rem 0 2rem;
}

.expertise-title-container hr {
  width: 5%;
  margin: auto;
  margin-bottom: 6rem;
  margin-top: 1rem;
}

/* .t {
    text-align: center;
    border: 1px solid red;
    max-width: 1200px;
} */

/*Experimenting with this. Not specific but currently works
section svg:nth-child(1) {
  margin-bottom: 2rem;
}*/

.grid-img-1 {
  border-right: 0.5px solid rgb(221, 221, 221);
  border-bottom: 0.5px solid rgb(221, 221, 221);
  grid-column: 1 /2;
  grid-row: 1 /2;
  margin-bottom: 3rem;
}

.grid-img-2 {
  border-right: 0.5px solid rgb(221, 221, 221);
  border-bottom: 0.5px solid rgb(221, 221, 221);
  grid-column: 2 /3;
  grid-row: 1 /2;
  margin-bottom: 2.5rem;
}

.grid-img-3 {
  border-bottom: 0.5px solid rgb(221, 221, 221);
  grid-column: 3 /4;
  grid-row: 1 /2;
  margin-bottom: 3rem;
}

.grid-img-4 {
  border-right: 0.5px solid rgb(221, 221, 221);
  grid-column: 1 /2;
  grid-row: 2 /3;
  padding-top: 4rem;
}

.grid-img-5 {
  border-right: 0.5px solid rgb(221, 221, 221);
  grid-column: 2 /3;
  grid-row: 2 /3;
  padding-top: 3rem;
}

.grid-img-6 {
  grid-column: 3 /4;
  grid-row: 2 /3;
  margin-top: 3rem;
}

.grid-img-1 p,
.grid-img-2 p,
.grid-img-3 p {
  margin-bottom: 2rem;
}

.expertise-grid svg {
  margin-bottom: 2rem;
}

.grid-img-4 p,
.grid-img-5 p,
.grid-img-6 p {
  margin-bottom: -2rem;
}
/*End of Media Query for desktop*/
