
@import url("nav-hero.css");
@import url("newfile.css");

/*--Story-section CSS start*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.secondpart-container{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 10px;
  padding:60px;
  


}
.secondpart{
    background-color:white;
    text-align: center;
    padding:20px;
    width: 400px;
    
    position:cover;

}

.s-h2{
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  
  
}
.s-p{
  text-align: left;
}

.s-btn{
  
  background-color: transparent;
  box-shadow: none;
  outline: none;
  border-color: aqua;
  color: aqua;
  height: 3rem;
  width: 8rem;
  letter-spacing: 0.02rem;
float:left;
margin-top: 30px;
margin-bottom: 30px;
padding:5px;
}

.s-img{
  background-color: white;
  padding:20px;
  margin:20px;
  width:200px;
  height: 200px;
}


/*--Story section CSS end*/

/*---contact---form ---csss-----start----*/


/*---contact---form ---csss-----end----*/
/*footer starts*/

.footer {
  background-image: url('./photoshop/design-assets/bgk-footer.png');
  color: white;
  background-size: cover;
}

.footer-sec {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: start;
  column-gap: 1rem;
  row-gap: 3rem
  ;
  padding: 5rem 10rem;
  
}

.foot-nav {
  grid-column: 1/span 1;
  
}
.foot-nav-list {
  display: flex;
  justify-content: space-between;
 
 
}
.foot-nav-list a{
  text-decoration: none;
  color: white; 
}
.foot-nav-list a:hover {
  text-decoration: underline;
 
}

.foot-nav-list li{
  list-style-type: none;
}
.foot-addr {
  text-decoration: none;
  color: white;
}
.foot-addr:hover {
  text-decoration: underline;
  
}
.copyright {
  grid-column: 3/4;
}
